<%= search_form_for @q do |f| %>
  <div>場所で検索</div>
  <% Status.pluck(:shop_name).uniq.each do |n| %>
    <%= n %><%= f.check_box :shop_name_in, { multiple: true }, n, nil %>
  <% end %>
  <div>日時で検索</div>
  日付:<%= f.select :created_at_eq, dates, { include_blank: '全て' } %>
  <div>時間で検索</div>
  時間:<%= f.select :hour_eq, hours, { include_blank: '全て' } %>
  <%= f.submit %>
<% end %>
検索結果は<%= @statuses.size %>です
<% @statuses.each do |s| %>
  <div>
    店名:<%= s.shop_name %>
    女性:<%= s.number_of_women %>
    男性:<%= s.number_of_men %>
    男女比率:<%= s.ratio %>%
    日付: <%= s.created_at %>
  </div>
<% end %>