<%= search_form_for @q do |f| %>
  <div>場所で検索</div>
  <% Status.pluck(:shop_name).uniq.each do |n| %>
    <%= n %><%= f.check_box :shop_name_in, { multiple: true }, n, nil %>
  <% end %>
  <div>日時で検索</div>
  日付:<%= f.select :created_at_eq, dates, { include_blank: '全て' } %>
  <div>時間で検索</div>
  時間:<%= f.select :hour_eq, hours, { include_blank: '全て' } %>
  <%= f.submit %>
<% end %>
検索結果は<%= @statuses.size %>です
<%= link_to 'グラフで見る', statuses_graphs_path %>
<table>
  <thead>
    <tr>
      <th>店名</th>
      <th>女性</th>
      <th>男性</th>
      <th>男女比率</th>
      <th>日付</th>
    </tr>
  </thead>
  <tbody>
    <% @statuses.each do |s| %>
      <tr style='color: <%= "#{s.ratio >= 100 ? 'red' : 'black'}" %>'>
        <td><%= s.shop_name %></td>
        <td><%= s.number_of_women %></td>
        <td><%= s.number_of_men %></td>
        <td><%= s.ratio %>%</td>
        <td><%= s.created_at %></td>
      </tr>
    <% end %>
  <tbody>
</table>
